---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/raccoon/space.webp"/>
    </div>
    <h1>Tanuj Nayal</h1>
    <span class="badge">Software Developer</span>
    <h2>About</h2>
    <p>
        I am a computer science student with a strong foundation in programming and software development. Over the course of my studies, I’ve gained experience in both frontend and backend systems, allowing me to build well-rounded skills for modern software engineering. My academic journey has sharpened my problem-solving abilities and deepened my understanding of various programming languages and frameworks.
    </p>
    <p>
        My main area of interest lies in backend systems, where I enjoy working with complex data structures and designing technical solutions. I’m passionate about building efficient and robust applications, and I’m dedicated to refining my skills as I work toward a career in backend development.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Golang" src="/skills/go.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="/skills/ts.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="/skills/js.svg"/>
        <img class="skills__img" width="46" height="46" alt="Java" src="/skills/java.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="/skills/react.svg"/>
        <img class="skills__img" width="46" height="46" alt="GraphQL" src="/skills/graphql.svg"/>
        <img class="skills__img" width="46" height="46" alt="NextJS" src="/skills/nextjs.svg"/>
        <img class="skills__img" width="46" height="46" alt="PostgreSQL" src="/skills/postgres.svg"/>
        <img class="skills__img" width="46" height="46" alt="Redis" src="/skills/redis.svg"/>
        <img class="skills__img" width="46" height="46" alt="Docker" src="/skills/docker.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="/skills/git.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I'm highly interested in backend systems and DevOps, focusing on creating efficient, scalable, and reliable software. I enjoy designing applications, optimizing workflows, and working with complex infrastructures. DevOps is especially intriguing to me, as it combines development and operational practices to streamline deployment processes and improve system stability. I’m passionate about automation, continuous integration and deployment, and monitoring, aiming to deliver robust solutions that enhance both the development cycle and end-user experience.
    </p>
</Layout>

